/** Table of Contents **/
/*
 * 1. General styles
 * 2. header
 * 3. Home / Hero
 * 4. About
 * 4.1 Skills
 * 5. Works
 * 6. Contact
 * 7. Responsive
 * 7.1 Tablet
 * 7.2 Mobile
 */

/*
 * 1. General Styles
 */

@font-face {
    font-family: Lato;
    src: url(assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: PoorStory;
    src: url(assets/fonts/PoorStory-Regular.ttf);
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: normal 1.5em/1.75em Lato,Arial,sans-serif;
  color:  #723d46;
  text-align: center;
  margin: 0;
}

h1,h2,h3,h4,h5,h6,
label,
input,
textarea {
  font-family: PoorStory,Arial,sans-serif;
  font-weight: normal;
}

label,
input,
textarea {
  color: #fff;
  margin-bottom: 0.5rem;
}

.flex-wrapper {
  display:flex;
  flex-flow:row wrap;
  align-items: center;
  justify-content: center;
}

#home,
#contact{
  background-color: #723d46;
}

#about,
#works{
  padding: 1.56rem 0 0;
  background-color: #fbf9f8;
}

.normal-flex{
  flex: 1 0 0;
}

.super-flex {
  flex: 1 100%;
}

header,
footer {
  background-color: #bbbe64;
}

.contained{
  max-width: 1200px;
  margin: 0 auto;
}

p {
  white-space: pre-line;
}

a {
  color: #0a2046;
  text-decoration: none;
}

a:hover {
  color: #ba2d0b;
}

img {
  max-width: 100%;
}

.img-block{
  padding: 20px;
}

.btn {
  border-radius: 10px;
  padding: 8px 10px;
  background: #bbbe64;
  border: none;
}

.btn-link{
  font-size: 0.875rem;
}

.btn-link:hover,
.btn-submit:hover {
  color: #fff;
  background: #ba2d0b;
}

.btn-submit {
  width: 125px;
  font-size: 1.25rem;
  color: #fff;
  float: right;
}

.btn-top {
  font-size: 1.5em;
  padding: 5px;
  color: #0a2046;
}

.btn-mobile {
  display: none;
  flex: 1 100%;
  max-width: 150px;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border: 2px solid #0a2046;
  border-radius: 0;
}

.btn-mobile i {
  padding-right: 5px;
}

#scrollToTop {
  position: fixed;
  bottom: 50px;
  right: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
}

#scrollToTop::before {
  content: "\f151";
  font-family: "Font Awesome 5 Free";
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.hidden {
  position: absolute;
  left: -999999px;
}

#hero-title,
.content-heading {
  font-size: 3.75rem;
  margin: 0 auto 1.56rem;
}

.content-heading {
  color: #0a2046;
  text-transform: uppercase;
}

.content-heading::after {
  content: " ";
  width: 204px;
  border-bottom: 3px solid #0a2046;
  display: block;
  margin: 0 auto;
  top: 15px;
  position: relative;
}

/*
* 2. Header
*/
header {
  padding: 10px 0;
  transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;;
  -ms-transition: all 0.1s ease-in;
}

header.sticky {
  position: fixed;
  width: 100%;
  padding: 0;
  z-index: 100;
  height: 90px;
}

#logo {
  text-align: left;
}

#logo-link {
  line-height: 0;
}

#menu {
  flex: 3 0 0;
  text-align: right;
}

#menu li {
  list-style: none;
  display: inline-flex;
  padding-right: 30px;
  font-size: 1.5em;
}

#menu li a {
  vertical-align: middle;
  font-family: PoorStory, Arial, sans-serif;
}

.sticky #logo {
  width: 300px;
  flex: 1 0 0;
  padding: 0;
}

.sticky menu {
  text-align: right;
}

.sticky #menu li a{
  font-size: 1.8rem;
}

.sticky #mobile {
  border: none;
}

#menu.mobile  {
    position: relative;
    left: 0;
}

/*
* 3. Hero / Home
*/

#home {
  padding: 15vh;
}

#hero-title,
#hero-subtitle {
  font-family: Lato, Arial, sans-serif;
  color: #fff;
}

#hero-subtitle {
  font-size: 2em;
  line-height: 1.25em;
}

#green {
  color: #bbbe64;
  display: block;
}

#green::after {
  content: "?";
  color: #fff;
}

#jump-to-works {
  font-size: 1.5rem;
  padding: 0px 20px;
}


/*
* 4. About
*/
#my-photo {
  width: 120px;
  border-radius: 50%;
}

#about p {
  line-height: 1.25em;
}

#about p:nth-of-type(2) {
  margin-bottom: 2.5em;
}
/*
* 4.1 Skills
*/

#skills {
  background-color: #bbbe64;
  padding: 20px 5vw;
}

.skills-flex {
  flex: 1 25%;
}

#skills-heading {
  font-size: 2.25em;
  margin-top: 1.25rem;
}

#skills-heading.content-heading::after {
  top: 4px;
  width: 139px;
  border-width: 2px;
}

/*
* Works
*/

#works .flex-wrapper {
  padding: 3.4375rem 0 5.3125rem;
  justify-content: flex-start;
}

.works-flex {
  flex: 1 33%;
  max-width: 33%;
}

#works p {
  font-size: 1rem;
  line-height: 1em;
}

/*
* 5. Contact
*/
#kaiju {
  background-image: url('assets/images/kaiju-vector.png');
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 0 0 15vh;
}

#contact .flex-wrapper {
  justify-content: flex-end;
}

#speech-balloon {
  background-image: url(assets/images/speech-bubble.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  padding: 12vh 0;
  align-self: flex-start;
}

#speech-balloon h2 {
  color: #fff;
  text-transform: inherit;
}

#speech-balloon h2::after {
  border: none;
}

#form-wrapper {
  flex: 2 0 0;
  max-width: 50%;
}
#submit_button{
  margin-top: 8px;
}

form {
  padding: 20px;
  width: 80%;
}

form * {
  display: block;
  text-align: left;
  width: 100%;
}

label {
  color: #fff;
  font-size: 1.5rem;
}

input, textarea {
  border-radius: 10px;
  padding: 10px;
  border: none;
}

/*
* 6. Footer
*/
footer {
  padding: 0 20px;
}

#social li {
  list-style: none;
  display: inline-flex;
}

#copyright {
  font-size: 0.875rem;
}

#copyright,
#social {
  margin: 0;
}

#social li a::before {
  display: inline-flex;
  font-family: "Font Awesome 5 Brands";
  background-color: #000;
  color: #bbbe64;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  justify-content: center;
  align-items: center;
}

#fb::before {
  content: "\f39e";
}

#ln::before {
  content: "\f0e1";
}

/*
 * 7. Responsive
 */

 /*
 * 7.1 Tablet
 */

@media screen and (max-width: 768px){
  #logo {
      flex: 1 100%;
      padding: 0 30vw;
    }

  #menu {
      text-align: center;
    }

  #owner-image {
    display: none;
  }

  .works-flex {
      flex: 1 50%;
      max-width: 50%;
  }

  form {
    width: 100%;
  }
}

/*
 * 7.2 Mobile
 */

@media screen and (max-width: 640px) {

  .btn-mobile{
    display: flex;
  }

  #submit_button {
    float: none;
    margin: 0 auto;
  }

  #menu {
    position: absolute;
    left: -999999px;
  }

  #logo {
    padding: 0;
  }

  #menu,
  .normal-flex,
  .works-flex {
    flex: 1 100%;
    max-width: 100%;
  }

  #header.sticky {
    height: auto;
  }

  #menu li {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .skills-flex {
    flex: 1 50%;
  }

  #hero-subtitle {
    font-size: 1.5em;
    margin-top: 0px;
  }

  #contact .flex-wrapper {
    justify-content: center;
  }

  #form-wrapper {
    flex: 1 100%;
    max-width: 80%;
  }

  input, textarea {
    box-shadow: 2px 3px 9px #000;
  }

  textarea {
    margin-bottom: 10px;
  }

  #speech-balloon {
    padding: 8vh 0;
  }

  #kaiju {
    background-size: contain;
  }

  #copyright.normal-flex,
  #social.normal-flex {
    flex: 1 50%;
  }

}

@media screen and (max-width: 320px) {

  #home {
    padding: 10vh 5vw;
  }

  header.sticky {
    padding-bottom: 10px;
  }

  .sticky #mobile {
    border: 2px solid #0a2046;
  }

  #hero-title,
  .content-heading {
    font-size: 2.75rem;
  }

  #hero-subtitle {
    font-size: 1.2em;
  }

  .content-heading {
    padding-bottom: 20px;
  }

  #about p{
    padding: 5vw;
  }

  .skills-flex {
    flex: 1 100%;
  }

  #works .flex-wrapper {
    padding: 0 0 1.5em;
  }

  .img-block {
    padding-bottom: 30px;
  }

  #kaiju {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto;
    padding: 0;
  }

  #speech-balloon {
    padding: 7vh 0;
  }

  #submit_button {
    margin-top: 20px;
  }
}
